.Profile {
    margin: 60px 0 30px 20px;
}

.Profile-title {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.Profile-prop {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 20px;
}

.Profile-label {
    margin: 0;
    padding-right: 5px;
}

.Profile-value {
    margin: 0;
    font-weight: 700;
}