.CommentLink-link {
  color: #0087e9;
}

.CommentLink-text {
  display: inline;
}

.CommentLink-cancelBtn {
  color: #666;
  font-size: 16px;
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}