.Login {
    margin: 60px 0 0 20px;
    width: 203px;
}

.Login-title {
    font-size: 24px;
    margin: 0;
}

.Login-form {
    display: flex;
    flex-direction: column;
}

.Login-label {
    margin-top: 20px;
    font-size: 16px;
}

.Login-input {
    font-size: 16px;
    padding: 2px 0;
}

.Login-btn {
    margin-top: 20px;
    width: 53px;
}

.Login-offscreen {
    position: absolute;
    left: -9999px;
}

.Login-errmsg {
    margin: 20px 0 0;
    color: red;
}